{% load static %}

<section id="sale" class="projects-section mt-4">
    <div class="container">

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-2 mb-lg-0">
            <div class="col-12 col-lg-6 projects-image" style="background: url('{% static 'img/podklady-niekolejowe-debowe.jpg' %}') no-repeat center center; background-size: cover">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Podkłady niekolejowe</h4>
                            <p class="mb-2 text-white-75">Oferujemy wysokiej jakości drewno dębowe, które ze względu na niewielkie niedoskonałości nie mogą być wykorzystane jako podkłady kolejowe.</p>
                            <p class="mb-2 text-white-75">Drewno to doskonale spawdza się w ogrodach, budownictwie oraz do produkcji elementów drewnianych.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-12 col-lg-6 projects-image" style="background: url('{% static 'img/palisady-sosnowe.jpg' %}') no-repeat center center; background-size: cover">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Palisady sosnowe</h4>
                            <p class="mb-2">Do 12 Września 2019 wyprzedajemy nasze palisady sosnowe w promocyjnej cenie.</p>
                            <p class="mb-2">Wyrób ten ma bardzo szeroką gamę zastosowań, bardzo często wykorzystue się w winnicach oraz innych sadach owocowych.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
